/* Neon shadow effect */
.shadow-neon {
    box-shadow: 0 0 15px rgba(250, 204, 21, 0.3);
}

/* Glitch text effect */
.glitch-text {
    position: relative;
}

.glitch-text:hover {
    text-shadow:
        2px 2px #00fffc,
        -2px -2px #fc00ff;
    animation: glitch 1s infinite;
}

@keyframes glitch {
    0% {
        text-shadow: 2px 2px #00fffc, -2px -2px #fc00ff;
    }
    25% {
        text-shadow: -2px 2px #00fffc, 2px -2px #fc00ff;
    }
    50% {
        text-shadow: 2px -2px #00fffc, -2px 2px #fc00ff;
    }
    75% {
        text-shadow: -2px -2px #00fffc, 2px 2px #fc00ff;
    }
    100% {
        text-shadow: 2px 2px #00fffc, -2px -2px #fc00ff;
    }
}
